---
title: District 410E Christmas Cakes Order Form
draft: false
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/reg_form.js"></script>
<h3>Orders are required by 31 July</h2>
<h4><u>Kindly note</u>: Deliveries will be made to central locations, not to individual clubs. You will be contacted to confirm the central location you wish to use for your delivery.</h4><h4>Christmas Cakes will be made available on a first come first served basis. In other words, cakes will be made available according to the date the order was received. Cakes will be delivered to your chosen central location as close to your requested delivery date as possible.</h4>
<h4>Clubs are responsible for following up on their cakes order. Clubs must also be aware of the requirements that were placed with their order.<br>To confirm your order, you can contact your District Chair for Christmas Cakes:<br>Teresa Panteleon - Email: <a href="mailto:teresap@vodamail.co.za">teresap@vodamail.co.za</a></h4>
<form name="410e" method="POST" data-netlify="true" action="/order-complete">
<h3>District 410E Christmas Cakes Order Form</h3>
   <div class="form-group row">
      <label for="date_required" class="col-sm-4 col-form-label">
         Date Cakes are Required: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="date_required" name="date_required">
      </div>
   </div>
   <div class="form-group row">
      <label for="club" class="col-sm-4 col-form-label">
         Club Name: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="club" name="club">
      </div>
   </div>
   <div class="form-group row">
      <label for="cases" class="col-sm-8 col-form-label">
         Number of Cases required (X12 Cakes): 
      </label>
      <div class="col-sm-4">
         <input type="number" min="1" value="1" required class="form-control" id="cases" name="cases">
      </div>
   </div>
   <div class="form-group row">
      <label for="responsible_member_name" class="col-sm-4 col-form-label">
         Responsible Member: Name and Surname: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="responsible_member_name" name="responsible_member_name">
      </div>
   </div>
   <div class="form-group row">
      <label for="responsible_member_email" class="col-sm-4 col-form-label">
         Responsible Member: Email Address: 
      </label>
      <div class="col-sm-8">
         <input type="email"  required class="form-control" id="responsible_member_email" name="responsible_member_email">
      </div>
   </div>
   <div class="form-group row">
      <label for="responsible_member_cell" class="col-sm-4 col-form-label">
         Responsible Member: Cell Number: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="responsible_member_cell" name="responsible_member_cell">
      </div>
   </div>
   <div class="form-group row">
      <label for="president_name" class="col-sm-4 col-form-label">
         Club President: Name and Surname: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="president_name" name="president_name">
      </div>
   </div>
   <div class="form-group row">
      <label for="president_email" class="col-sm-4 col-form-label">
         Club President: Email Address: 
      </label>
      <div class="col-sm-8">
         <input type="email"  required class="form-control" id="president_email" name="president_email">
      </div>
   </div>
   <div class="form-group row">
      <label for="president_cell" class="col-sm-4 col-form-label">
         Club President: Cell Number: 
      </label>
      <div class="col-sm-8">
         <input type="text"  required class="form-control" id="president_cell" name="president_cell">
      </div>
   </div>
   <div class="form-check">
      <input required class="form-check-input" type="checkbox" value="payment_terms" name="payment_terms" id="payment_terms">
      <label class="form-check-label" for="payment_terms">
         I have read through and acknowledge the payment terms (see below form)
      </label>
   </div>
   <div class="form-check">
      <input required class="form-check-input" type="checkbox" value="complaints" name="complaints" id="complaints">
      <label class="form-check-label" for="complaints">
         I have read through and acknowledge the complaints procedure (see below form)
      </label>
   </div>
   <div class="form-group row">
      <label for="comments_requests" class="col-sm-4 col-form-label">
         Any further comments/requests: 
      </label>
      <div class="col-sm-8">
         <input type="text"   class="form-control" id="comments_requests" name="comments_requests">
      </div>
   </div>
   <center>
      <button type="submit">Submit Order Form</button>
   </center>
<h3>Payment terms:</h3>
<ul>
   <li>Payment for Christmas cakes must be made within 60 days from the invoice, or by 31 December, whichever is sooner. In other words, If the invoice is dated 6 September, the amount owed must be paid by 5 November. If the invoice is dated 1 December, it must be paid by 31 December.</li>
   <li>Invoices will be emailed to the 2 email addresses supplied by the Club on the order form.</li>
   <li><b>To qualify for the R5.00 per cake settlement rebate, all invoices must be settled within 35 days from the invoice, or before 31 December, whichever is sooner</b>. In other words, If the invoice is dated 6 September, the amount owed must be paid on or before 10 November. The settlement rebate will be paid into your account by the District Treasurer during the first week of February. In order to qualify for the settlement rebate, payment must reflect in the baker’s account before the due date. Payments made on the due date will not qualify.</li>
</ul>
<h3>Complaint Procedure:</h3>
<ul>
   <li>Complainant completes the complaint form. Minimum information required:</li>
   <ul>
      <li>Batch number and production date - printed on inner packaging cellophane.</li>
      <li>Photographs of problem i.e. mould, damaged cartons, damaged cakes.</li>
      <li>Number of cakes affected.</li>
      <li>Complaint form and photographs sent to District Chairperson.</li>
      <li>District Chairpersons record complaints and forwards to MD Cake Chairperson.</li>
      <li>"No complaint form" = no complaint.</li>
   </ul>
</ul>
</form>